.content {
  margin: 60px 70px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Дозволяє карткам переноситись на новий ряд */
  gap: 35px; /* Відстань між картками */
  justify-content: flex-start; /* Початок кожного нового ряду зліва */
  align-items: flex-start; /* Вирівнює елементи по верхній частині ряду */
  margin-bottom: 60px;
}

.content p {
  color: #535353;
}