.student-profile {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.h1Text {
  margin-bottom: 30px;
  color: #535353;
  font-size: 24px;
}

.profile-card {
  display: flex;
  gap: 30px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 30px;
}

.profile-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #eee;
}

.profile-right {
  flex: 2;
}

.profile-s {
  margin-bottom: 15px;
}

.profile-s label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
}

.profile-s p,
.profile-s input {
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
  width: 380px;
}

input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.button-group {
  margin-top: 20px;
}

.edit-btn,
.save-btn,
.cancel-btn {
  background-color: #d9c2ff;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-btn {
  background-color: #aaa;
}

.edit-btn:hover,
.save-btn:hover {
  background-color: #aa8ffb;
}
