#header {
  height: 80px;
  background-color: #a5d1ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  color: #fdfdfd;
}

.logo {
  width: 156px;
  height: 40px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.navbar li a {
  color: #fdfdfd;
  text-decoration: none;
  transition-duration: 0.3s;
}

.navbar li a:hover {
  font-weight: 600;
  cursor: pointer;
}

.user-avatar {
  border-radius: 100%;
  border: none;
  width: 46px;
  height: 46px;
  object-fit: cover;   
  display: block;
  background-color: transparent;
}

.user{
  background-color: transparent;
  border: none;
}

.user-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 20;
  width: 140px; 
  display: flex;
  flex-direction: column; 
  align-items: stretch; 
}

.dropdown-item {
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px; 
  width: 100%; 
  padding: 20px 20px; 
  text-align: left;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #f0f0f0; 
  color: #141414;
}

.log-out, .menu-icon { 
  height: 18px;
  width: 18px;
  object-fit: cover;
}

