.teacher-card {
  width: 268px;
  height: 232px;
  background-color: #fdfdfd;
  border-radius: 30px;
  padding: 25px;
  box-shadow: 0 0 5px rgba(58, 58, 58, 0.15);
  font-family: "Montserrat", sans-serif;
  color: #404040;
  text-align: center;
  display: flex; 
  flex-direction: column;
}

.teacher-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(100, 100, 100, 0.3);
}

.teacher-header {
  display: flex;
  align-items: center;
}

.teacher-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  object-fit: cover;   
  display: block;
}


.teacher-info {
  text-align: left;
  margin-left: 10px;
}

.teacher-info h2 {
  font-size: 16px;
  margin: 0px;
  color: #404040;
}

.teacher-info p {
  font-size: 12px;
  color: #909090;
  margin: 5px 0 0;
}

.savedFunc {
  width: 20px;
  height: 25px;
  cursor: pointer;
  margin-left: auto;
}

.teacher-description {
  font-size: 14px;
  color: #606060;
  line-height: 1.5;
  margin: 15px 0 20px;
  text-align: left;
}

.filtersTCard {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start; 
  gap: 8px; 
}

.filtersTCard h3 {
  font-size: 10px;
  padding: 6px 24px;
  font-weight: 400;
  border-radius: 15px;
  margin-block: 0;
}

.filtersTCard h3:nth-child(1) {
  background-color: #d3fbdc;
  color: #6ad481;
}

.filtersTCard h3:nth-child(2) {
  background-color: #ffecd6;
  color: #f2b166;
}

.filtersTCard h3:nth-child(3) {
  background-color: #f1e8ff;
  color: #b98cff;
}

.show-more-btn {
  width: 100%;
  height: 40px;
  background-color: #a5d1ff;
  color: #fdfdfd;
  border: none;
  text-align: center;
  font-size: 16px;
  border-radius: 65px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-more-btn:hover {
  background-color: #efc9ff;
}
